<!DOCTYPE html>
<html>
  <head>
    <title>Job Board Home</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <h1>Welcome to the Job Board!</h1>
    <a href="/form">Post A Job Opening</a>
    <a href="/jobs">View Job Openings</a>
  </body>
</html>